body {
    
}

.page{

    box-shadow: 2px 2px 6px 2px;
    
    padding:5px;
    background-color: #bfd4d9;

}

.content{
    background-color: #17a697;
    border: 2px solid #13547d;
    border-radius: 3px;
    /*box-shadow: 2px 2px 6px 1px;*/
}

.jumbotron {

    border-radius:4px;
    text-align:center;



}

.carousel .item{

    height:450px;

}
.carousel{
    border: 3px solid black;
    border-radius:5px;

}

.navbar-default {
    background-image: url('../images/jeans.jpg');
    /*background-image: none;
    background-color: #B4D6EB;
    background-repeat:no-repeat;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  border-radius:5px;
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #13547d;
 
}
.navbar-default .navbar-nav > .active > li:hover
{
    
  background-color: #0a3956;
}

.navbar-default .navbar-nav > .active > a:hover{

    color: #13547d;
    background-color: #13547d;
}

.Header{

    color:black;
    font-family: 'Lobster', cursive;
    
    font-size: xx-large;



}

.Text{

    font-family: 'Open Sans', sans-serif;
    font-size: large;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #17a697;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}   


